# Neural network training on csv data
After running the first cell, you will have to sign in with google and copy a code

In [1]:
!pip install -Uqq fastbook
import fastbook
from fastbook import *
fastbook.setup_book()
from fastai.tabular.all import *

4/1AY0e-g78i5JhWMyhJKzEuQj27ZNVB775VBwK0gmdSMjFz0cqkgK96LpvtIoMounted at /content/gdrive

Replace the `path` variable with a relative path, or one relative to `gdrive` to access data from Google Drive

In [4]:
# following tutorial from: https://docs.fast.ai/tutorial.tabular.html
path = Path("gdrive/MyDrive/ParkinsonsData")
path.ls()

(#1) [Path('gdrive/MyDrive/ParkinsonsData/DadDoubleSupport - AiDadMom-2.csv')]

In [5]:
# change the name of the csv inside of the path
df = pd.read_csv(path/'DadDoubleSupport - AiDadMom-2.csv')
df.head()

   sourceName  double     speed     length  Asym
0           1   0.305  2.550107  25.590551   0.0
1           1   0.294  2.930387  28.346457   0.0
2           1   0.293  3.042233  28.740157   0.0
3           1   0.292  2.997495  28.740157   0.0
4           1   0.291  2.997495  29.133858   0.0

In [22]:
# update categorical names (one or the other), and change y_names to be the column you want to predict
# also change path and csv name
dls = TabularDataLoaders.from_csv(path/'DadDoubleSupport - AiDadMom-2.csv', path=path, y_names="sourceName",
    cont_names = ['double', 'speed', 'length', 'Asym'],
    procs = [FillMissing, Normalize])

In [23]:
# visualize data before training
dls.show_batch()

In [24]:
# create a model
learn = tabular_learner(dls, metrics=mse)

In [25]:
# fit for one "epoch" or entire loop of all of the data (change the number and see what happens!)
learn.fit_one_cycle(30)

In [27]:
# see predicted vs real results in new column
learn.show_results()

In [28]:
# predict on a row in df (in this case, row 0)
row, clas, probs = learn.predict(df.iloc[0])
row.show()

In [34]:
# get predictions on a new_dataset using the trained model
# new_dataset should have same column names as the one you trained the model on
new_dataset = df.copy()
new_dataset.drop(['sourceName'], axis=1, inplace=True)
new_dataset.head()

   double     speed     length  Asym
0   0.305  2.550107  25.590551   0.0
1   0.294  2.930387  28.346457   0.0
2   0.293  3.042233  28.740157   0.0
3   0.292  2.997495  28.740157   0.0
4   0.291  2.997495  29.133858   0.0

In [65]:
# get predictions tensor
dl = learn.dls.test_dl(new_dataset)
pred_tensor = learn.get_preds(dl=dl)
pred_tensor

(tensor([[1.1083],
         [1.0224],
         [0.9858],
         ...,
         [0.9577],
         [1.0078],
         [1.1294]]), None)

In [72]:
b = [a.numpy()[0] for a in list(pred_tensor[0])]
predictions = [1 if a < 1.5 else 2 for a in b]
predictions[:10]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [76]:
new_dataset['pred_sourceName'] = pd.Series(predictions)

In [77]:
# original, for comparison
df.head()

   sourceName  double     speed     length  Asym
0           1   0.305  2.550107  25.590551   0.0
1           1   0.294  2.930387  28.346457   0.0
2           1   0.293  3.042233  28.740157   0.0
3           1   0.292  2.997495  28.740157   0.0
4           1   0.291  2.997495  29.133858   0.0

In [78]:
# new predicted
new_dataset.head()

,double,speed,length,Asym,a,predicted,pred_sourceName
0,0.305,2.550107,25.590551,0.0,"(tensor(1.1083),)",1,1
1,0.294,2.930387,28.346457,0.0,"(tensor(1.0224),)",1,1
2,0.293,3.042233,28.740157,0.0,"(tensor(0.9858),)",1,1
3,0.292,2.997495,28.740157,0.0,"(tensor(1.0046),)",1,1
4,0.291,2.997495,29.133858,0.0,"(tensor(0.9973),)",1,1