# Neural network training on csv data
After running the first cell, you will have to sign in with google and copy a code

In [1]:
!pip install -Uqq fastbook
import fastbook
from fastbook import *
fastbook.setup_book()
from fastai.tabular.all import *

     |████████████████████████████████| 727kB 17.7MB/s
     |████████████████████████████████| 51kB 8.1MB/s
     |████████████████████████████████| 1.2MB 21.2MB/s
     |████████████████████████████████| 194kB 57.0MB/s
     |████████████████████████████████| 51kB 7.7MB/s
     |████████████████████████████████| 61kB 9.4MB/s
     |████████████████████████████████| 12.8MB 235kB/s
     |████████████████████████████████| 776.8MB 23kB/s
ERROR: torchtext 0.9.1 has requirement torch==1.8.1, but you'll have torch 1.7.1 which is incompatible.
Mounted at /content/gdrive

Replace the `path` variable with a relative path, or one relative to `gdrive` to access data from Google Drive

In [3]:
# following tutorial from: https://docs.fast.ai/tutorial.tabular.html
path = untar_data(URLs.ADULT_SAMPLE)
path.ls()

(#3) [Path('/root/.fastai/data/adult_sample/export.pkl'),Path('/root/.fastai/data/adult_sample/models'),Path('/root/.fastai/data/adult_sample/adult.csv')]

In [4]:
# change the name of the csv inside of the path
df = pd.read_csv(path/'adult.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k

In [5]:
# update categorical names (one or the other), continuous names (any number or value), and change y_names to be the column you want to predict
# also change path and csv name
dls = TabularDataLoaders.from_csv(path/'adult.csv', path=path, y_names="salary",
    cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race'],
    cont_names = ['age', 'fnlwgt', 'education-num'],
    procs = [Categorify, FillMissing, Normalize])

In [7]:
# visualize data before training
dls.show_batch()

In [8]:
# create a model
learn = tabular_learner(dls, metrics=accuracy)

In [9]:
# fit for one "epoch" or entire loop of all of the data (change the number and see what happens!)
learn.fit_one_cycle(1)

In [10]:
# see predicted vs real results in new column
learn.show_results()

In [11]:
# predict on a row in df (in this case, row 0)
row, clas, probs = learn.predict(df.iloc[0])
row.show()

In [ ]:
# get predictions on a new_dataset using the trained model
# new_dataset should have same column names as the one you trained the model on
dl = learn.dls.test_dl(new_dataset)
learn.get_preds(dl=dl)